header {
    text-align: center;
    background: url('https://i.pinimg.com/736x/9b/cd/3f/9bcd3fcc7dd5bc979f317801a9eca64b.jpg');
    background-size: cover;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    font-size: 70px;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
  }
  article button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
  article button:hover {
    background: #ccc;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 28px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
  }